.container{
    height:100%;
    width:100%;
    position: relative;
}
.container .post-container{
    height:100%;
    width: 100%;
    overflow: hidden;
    overflow-y:auto;
    scroll-snap-type: y mandatory;
    background: #F1F3F4;
}
.container .no-content-wrapper{
    position: absolute;
    inset:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .no-content{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container .no-content h2{
    font-size: 3rem;
    opacity: 0.3;
}
.container .no-content button{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    font-size:2rem;
    font-family: inherit;
    border-radius:0.5rem;
    color: #fff;
    border: none;
    background-color: var(--primary-color);
    cursor:pointer;
}
.container .post-container::-webkit-scrollbar {
    width: 0.1rem;
}
  
.container .post-container::-webkit-scrollbar-track {
    background: black;
}
  
.container .post-container::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}
  
.container .post-container::-webkit-scrollbar-thumb:hover {
background: rgba(250, 158, 27,0.5);
}
.container .post-container .post{
    height:100%;
    width: 100%;
    scroll-snap-align: start;
}