<div class="landing-container">
    <div class="stars"></div>
    <div class="twinkling"></div> 
    <div class="landing-wrapper">
        <div class="content">
            <h4>Vida Videos</h4>
            <h1>WELCOME AMIGO!</h1>
            <p>Lorem ipsum dolor, sit 
                amet consectetur adipisicing
                 elit. Rem nostrum, distinctio
                  ab quisquam voluptatum iste
                   reprehenderit minima dolorem
                    aliquam non molestias 
                    repudiandae corrupti excepturi 
                    impedit cum deleniti voluptas 
                    cupiditate eaque laudantium! 
                    Ducimus delectus earum deleniti 
                    aliquid nihil, maxime officiis! 
                    Voluptas facilis nihil distinctio 
                    impedit expedita fuga reprehenderit
                     perferendis. Beatae, reiciendis.
                     <span>You must be 18+</span>
            </p>
            <button (click)="onEnterClicked()">ENTER</button>  
            <div class="socials">
                <a href="#">
                    <div class="social" style="--brand: #00f2ea">
                        <i class="fa-brands fa-tiktok"></i>
                    </div>
                </a>
                <a href="#">
                    <div class="social" style="--brand:#833AB4">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </a>
                <a href="#">
                    <div class="social" style="--brand:#4267B2">
                        <i class="fa-brands fa-facebook-f"></i>
                    </div>
                </a>
                <a href="#">
                    <div class="social" style="--brand:#FF4500">
                        <i class="fa-brands fa-reddit-alien"></i>
                    </div>
                </a>
                <a href="#">
                    <div class="social" style="--brand:#1DA1F2">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                </a>
            </div>  
        </div>
        <div class="hero">
            <img src="https://denisatuti.github.io/uploads/images/background-image.png" alt="">
        </div>
    </div>
    
</div>
