<div class="content" #content>
  <app-nav></app-nav>
  <div class="main-container">
    <app-content></app-content>
    <div class="main-post-container">
      <router-outlet></router-outlet>
      <app-comment></app-comment>
      <div class="ads-container" [class.active]="isAdActive" >
        <div appAdsterra class="adsterra"></div>
        <div class="close" (click)="closeAd()">
            <!-- <i class="fa-regular fa-circle-xmark"></i> -->
            <i class="fa-solid fa-angle-down"></i>
        </div>
    </div>
    </div>
  </div>
  <app-log></app-log>
  <app-landing-page *ngIf="isLanding"></app-landing-page>
  <app-notifier></app-notifier>
</div>

