app-nav{
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    z-index:100;
}
.main-container{
    /* background-color: green; */
    display:flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.main-container app-content{
    /* background-color: red; */
    width:30vw
}
.main-container .main-post-container{
    width:40vw;
    position: relative;
}

.main-container .main-post-container app-comment{
    background-color: transparent;
    pointer-events: none;
    position:absolute;
    bottom: 0;
    left:0;
    height: 100%;
    width: 100%;
}

/* ads section */

.ads-container{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: -2rem;
    left:0;
    height: 0;
    width: 95%;
    transition: height 0.4s ;
    
}
.ads-container.active{
    height:25%;
    bottom: 0;
    transition: height 0.4s;
}
.ads-container .adsterra{
    position: absolute;
    inset:0;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow: hidden
}

.ads-container .close{
    position: absolute;
    display: flex;
    align-items:center;
    justify-content:center;
    top: -1.5rem;
    right: -1.5rem;
    font-size:2rem;
    padding: 1.5rem;
    height: 2rem;
    width: 2rem;
    color:var(--primary-color);
    cursor:pointer;
    background-color: #000;
    border: 0.3rem solid var(--primary-color);
    border-radius: 50%;
}


app-log{
    position:absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    z-index: 200;
}
app-landing-page{
    position:absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    height: 100vh;
    width: 100vw;
    pointer-events: auto;
    z-index: 200;
}
app-notifier{
    position:absolute;
    bottom: 15vh;
    left: 5vw;
    z-index: 300;
}





@media screen and (max-width: 768px) {
    .main-container app-content{
        display:none;
    }
    .main-container .main-post-container{
        width: 100vw;
        padding-right: 0;
    }
}
