/* VIDEO SECTION */
.player{
    height:100%;
    width:100%;
    position: relative;
}
.player .video-player{
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #000;
}



/* LINK SECTION */
.player .navigator{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color: transparent;
    height:100%;
    width:100%
}
.player .link-container{
    position: absolute;
    top:0;
    right:0;
    margin-right:1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.player .link-container div{
    margin-top: 1rem;
    margin-bottom:1rem;
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    cursor: pointer;
}
.player .link-container .profile{
    height: 6rem;
    overflow: hidden;
    border-radius: 50%;
    border: 0.3rem solid #fff;
}
.player .link-container .profile img{
    height: 100%;
    width: auto;
}

.player .link-container i{
    font-size: 3rem;
    font-weight: 100;
} 

.player .link-container .comment:hover{
    color: var(--primary-color);
    transition: 0.4s;
}

.player .link-container .like.active{
    color: var(--primary-color);
    transition: all 0.4s ease;
}

.player .link-container .downloading{
    color: var(--primary-color)
}


/* HEADER SECTION */
.player .header-container{
    position:absolute;
    bottom:0;
    left:0;
    height:20vh;
    width:100%;
    padding: 1rem;
    color: #fff;
}
.player .header-container a{
    text-decoration: inherit;
    color: inherit;
}

.player .header-container .header{
    display: flex;
    align-items:center;
    margin-bottom: 1rem;
}
.player .header-container .header .name{
    font-size: 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    transition: 0.4s;
}
.player .header-container .header .name:hover{
    color: var(--primary-color);
    transition: 0.4s;
}
.player .header-container .header .name h2{
    font-size: 3rem;
}
.player .header-container .header .name h3{
    font-size: 1.5rem;
}
.player .header-container .header .verified-icon i{
    font-size:1rem;
    color:var(--verified-color);
    background-color:#fff;
    border-radius:50%;
   
}
.player .header-container .header button{
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    font-family: inherit;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0,0.3);
    color:var(--primary-color);
    cursor: pointer;
    transition: all 0.4s;
    border: 0.1rem solid var(--primary-color);
    margin-left: 2rem;
    display: flex;
    justify-content:center;
    align-items: center
}
.player .header-container .header button.following{
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    border: 0.1rem solid #fff;
}
.player .header-container .header button.follow:hover{
    background-color: var(--primary-color);
    color:#fff;
    transition: 0.4s;
}

.player .header-container .header button.following:hover{
    color: #000;
    background-color: #fff;
    transition: 0.4s;
}


.player .header-container .subreddit{
    background-color: rgba(0, 0, 0,0.3);
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.4s;
    text-align: center;
    border: 0.1rem solid transparent;
}
.player .header-container .subreddit:hover{
    background-color:rgba(0, 0, 0, 1);
    text-align: center;
    border: 0.1rem solid #fff;
    transition: all 0.4s;
}
.player .header-container .subreddit i{
    padding-right: 1rem;
}
.player .header-container .description{
    font-size: 1.5rem;
}

/* AD SECTION */
.player .ad-container{
    position:absolute;
    bottom: 0;
    left:0;
    width: 100%;
    overflow: hidden;
    height:0;
    transition: height 0.4s;
}
.player .ad-container.active{
    height:20rem;
    transition: height 0.4s;
}
.player .ad-container .ad-wrappers{
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    position:relative;
}
.player .ad-container .ad-wrappers .image{
    height:20rem;
    overflow: hidden;
    cursor:pointer;
}
.player .ad-container .ad-wrappers .image .adsterra{
    height: 100%;
    width:auto;
    display:flex;
    justify-content: center;
    align-items: center;
}
.player .ad-container .ad-wrappers .image img{
    height: 100%;
}
.player .ad-container .ad-wrappers .close{
    position:absolute;
    right: 0;
    top:0;
    margin: 0.5rem;
    cursor: pointer;
}
.player .ad-container .ad-wrappers .close i{
    color: var(--primary-color);
    font-size: 3rem;
}
