nav{
    display:flex;
    justify-content: space-around;
    align-items:center;
    width:100%;
    background-color: rgba(255, 255, 255,0.3);
    padding-top: 2rem;
    padding-bottom: 2rem;
    height:10vh;
}

nav .banner{
    height: 4rem;
    width:auto;
    overflow: hidden;
    text-align: center;
    cursor: pointer
}
nav .banner img{
    height:100%;
    width: auto;
    object-fit: cover;
}
nav .search{
    background-color:#fff;
    border-radius:1rem;
    position:relative
}
nav .search form {
    border: 0.2rem solid var(--primary-color);
    border-radius:1rem;
}
nav .search .search-result{
    position: absolute;
    top:0;
    left: calc(50% - 50rem / 2);
    width: 100%;
    margin-top:10vh; 
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: rgba(250, 158, 27, 0.2);    
    width: 40rem;
    max-height: 30rem;
    overflow-x: hidden;
    overflow-y:scroll;
   
}


nav .search .search-result::-webkit-scrollbar{
    width: 0.5rem;
}

nav .search .search-result::-webkit-scrollbar-track {
    background-color: #fff;
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
}
nav .search .search-result::-webkit-scrollbar-thumb {
    background:var(--primary-color);
}

nav .search .search-result ul{
    width:100%;
    text-align: center;
}

nav .search .search-result ul li{
    list-style: none;
    color:#fff;
    font-size:2rem;
    margin-top: 1rem;
    margin-bottom: 0.1rem;
    padding: 1rem 4rem;
    cursor: pointer;
    transition:all 0.4s;
    width:100%;
}
nav .search .search-result ul li:hover{
    background-color: #000;
    transition:all 0.4s
}

nav .search form input{
    font-family: inherit;
    font-size:1.5rem;
    padding:1rem;
    border:none;
    outline: none;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 50rem;
    color: rgba(0,0,0,0.8);
}
nav .search form button{
    padding: 1.5rem;
    font-size:1.5rem;
    border:none;
    outline: none;
    background: transparent;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    cursor: pointer
}
nav .search form button i{
    color: var(--primary-color)
}
nav .profile{
    height:5rem;
    background-color: transparent;
    overflow: hidden;
    border-radius: 50%;
    border:0.1rem solid var(--primary-color);
    
}
nav .profile img{
    height: 100%;
}

nav .mini-menu{
    display: none;
}
nav .mini-menu i{
    color: var(--primary-color);
    font-size: 2rem;
    padding: 1rem;
}

nav .mini-menu .mini-menu-wrapper{
    position:absolute;
    top:10vh;
    left:0;
    width:100%;
    background-color: rgba(0,0,0,0.8);
    height: 0;
    overflow: hidden;
    transition: height 0.4s;
 
}
nav .mini-menu i.active + .mini-menu-wrapper{
    height: 20rem;
    transition: height 0.4s;
}
nav .mini-menu .mini-menu-wrapper a{
    text-decoration: none;
}
nav .mini-menu .mini-menu-wrapper div{
    text-align: center;
    padding: 1rem 0.5rem;
    color:#fff;
    font-size: 1.5rem;
}
nav .mini-menu .mini-menu-wrapper .item:hover{
    background-color: #000;
}
nav .mini-menu .mini-menu-wrapper .logs div{
    background-color: rgba(250, 158, 27,0.4);
    margin-top: 0.5rem;
}
nav .mini-menu .mini-menu-wrapper .logs div:hover{
    background-color: var(--primary-color);
}

@media screen and (max-width: 768px) {
    nav .mini-menu{
        display: inline-block;
    }
    nav .search{
        background-color: transparent;
    }
    nav .search .search-result{
        width:200%;
        left:-50%;
        margin-top:7vh;
    }
    nav .search form input{
        background-color: transparent;
        color:#fff;
    }
    nav .search form button{
        padding:0.5rem;
    }
}

@media screen and (max-width: 768px) {
    nav{
        background-color: rgba(0, 0, 0,0.3);
    }
    
    nav .mini-menu{
        display: inline-block;
    }
    nav .search{
        background-color: transparent;
    }
    nav .search .search-result{
        width:200%;
        left:-50%;
        margin-top:7vh;
    }
    nav .search form input{
        background-color: transparent;
        color:#fff;
    }
    nav .search form button{
        padding:0.5rem;
    }
}
@media screen and (max-width: 425px) {
    nav .search form input{
        font-size:1.5rem;
        width: 10rem;
    }
    nav .profile{
        height:4rem;        
    }
    .nav .search .search-result{
        width:300%;
    }
}
